:root {
  --main-bg-color: #d7cec7; /* rgba(215, 206, 199, 1) */
  --main-fg-color: #c09f80; /* rgba(192, 159, 128, 1) */
  --main-text-color: #565656; /* rgba(86, 86, 86, 1) */
  --secondary-text-color: #76323f; /* rgba(118, 50, 63, 1) */
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: "Work Sans", sans-serif;
}

header {
  background-color: var(--main-text-color);
  position: fixed;
  width: 100%;
  top: 0;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  width: 85%;
  margin: 0 auto;
}

#navbar-logo {
  width: 3vw;
  float: left;
  padding: 0.75vw 0vw;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  /* margin-left: 70px; */
  margin-left: 4.2vw;
  padding-top: 3vh;

  position: relative;
}

nav ul li a {
  color: var(--main-bg-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95vmax;
}

nav ul li a:hover {
  font-weight: bolder;
}

nav ul li a::before {
  content: "";
  display: block;
  height: 0.5vh;
  background-color: var(--main-bg-color);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav ul li a:hover::before {
  width: 100%;
}

#about {
  color: var(--main-text-color);
  font-size: 2.1vw;
  text-align: left;

  margin-left: 0;
  margin-top: 0;
  padding-left: 7vw;
  padding-top: 9vh;

  text-transform: uppercase;
}

#big-hi {
  font-size: 11vw;
  letter-spacing: 0;
}

#krishan-profile-image-container {
  transform-origin: right bottom;
  position: absolute;
  bottom: -40.5vh;
  right: -25vw;

  z-index: -1;
}

#krishan-profile-image {
  width: auto;
  height: 158vmin;
  opacity: 1;
  /* animation: fade-in 2s ease-in-out forwards 0s; */
}

#about .about-text #summary-list .red-text {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-style: italic;
}

#summary-list {
  font-size: 2.07vw;
  font-weight: 100;
  text-align: left;
  line-height: 9vh;

  margin-top: -2.5vh;
  margin-left: 6vw;
  width: 60%;
}

.about-name-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

  background-color: rgba(192, 159, 128, 0.5);
  text-transform: lowercase;
  line-height: 0;
}

#about-name {
  font-size: 9.6vh;
  float: right;
  margin-right: 2vw;
}

#name {
  color: var(--secondary-text-color);
  font-weight: bolder;
}

/* h2.secondary-heading {
  color: var(--secondary-text-color);
  font-size: 4vw;
  text-align: center;
}

#portfolio {
  background-color: var(--main-fg-color);
  margin-left: 0;
  margin-top: 24.3vh;
  padding-left: 7vw;
  padding-top: 0.1vh;
} */
